/data/NEI_pollution_source_2020.xlsx
/data/NEI_pollution_source_2020.csv
/data/.ipynb_checkpoints/NEI_pollution_source_2020-checkpoint.csv
/data_model/*.csv
/data_preprocessing/*.csv
/exploratory_data_analysis/*.csv
/data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release_20241023.csv
/data/filtered.csv
/data/pivoted_all_v2.csv
/data/pivoted_cancer_v2.csv

CODE/prediction/data/NEI_pollution_source_2020.csv
CODE/prediction/data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release_20241023.csv

.DS_Store

.ipynb_checkpoints
__pycache__